body

{
    background-color:red;
    color:whitesmoke;
    
}

button

{
    background-color: green;
    color:whitesmoke;
    border-color: white;
    width: 100px;
    font-style: oblique;

}

div

{
   font-weight: bolder;
   
}

